.container {
  background-image: url("./../assets/img/column2.png");
  background-repeat: repeat-y;
  background-position: right top;
  background-size: scale-down;

  background-color: $darkGrey;
  margin: 2rem auto;

  border-radius: 0.5rem;
  min-height: 80vh;

  & h1 {
    font-size: 3.2rem;
  }

  & h2 {
    font-family: "Noto Serif", serif;
    font-weight: bold;
    font-size: 3rem;
    padding: 2rem 0;
    color: $bootStrapDarkGrey;
    letter-spacing: 0.025em;
  }

  & p {
    font-size: 1.4rem;
    margin: 1rem 0;
  }
}
