.jumbotron {
  min-height: 25vh;
  padding: 0;
  margin: 4rem 0 2rem 0;
  background-image: linear-gradient(to right, $veryWhite 75%, $darkPurple);

  & .pageContent {
    color: $offBlack;
    margin: 6rem 3rem 1rem 3rem;

    & h1 {
      line-height: 1.4em;
      font-weight: bold;
      margin: 0 0 2rem 0;
    }

    & p {
      font-size: 1.4rem;
      line-height: 1.5em;
    }
  }

  & img {
    float: right;
    max-height: 80rem;
    object-fit: cover;
  }
}
