/*Navigation */

.nav-logo {
  font-family: "Noto Serif", serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: $veryWhite;
}

.navbar-nav {
  margin-left: 0.5rem;

  & .nav-item {
    margin: 0.5rem 0;

    & .nav-link {
      font-size: 1.6rem;
      color: $veryWhite;
    }

    & .nav-link:hover {
      color: $darkGrey;
    }
  }
}
