/*SERVICES and ARTICLES*/
.container .list-group.services,
.container .list-group.articles {
  display: flex;
  justify-content: center;
  margin: 2rem 1rem;

  & .list-group-item {
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    margin: 0.2rem 0;
  }
}

.container .list-group.articles {
  & .list-group-item {
    margin: 0.2rem 0;

    & a {
      font-weight: bold;
      color: $offBlack;
      text-decoration: underline;
    }
    & a:hover {
      color: $darkPurple;
    }
  }
}
