/*SERVICES and ARTICLES*/
.container .list-group {
  display: flex;
  justify-content: center;
  margin: 2rem 1rem;

  & .list-group-item {
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 0.5rem 0;

    & a {
      font-weight: bold;
      color: $offBlack;
      text-decoration: underline;
    }
    & a:hover {
      color: $darkPurple;
    }
  }
}
