//triggered when screen GOES above <res>
// Small devices (landscape phones, 576px and up)

@media (min-width: 0) {
  .jumbotron {
    & .pageContent {
      & h1 {
        font-size: 1.6rem;
      }

      & p {
        font-size: 1.4rem;
      }
    }

    & img {
      width: 90%;
    }
  }
}

@media (min-width: 400px) {
  .container .list-group.services,
  .container .list-group.articles {
    & .list-group-item {
      font-size: 1.4rem;
    }
  }

  .container .list-group.articles {
    & .list-group-item {
      & a {
        font-size: 1.4rem;
      }
    }
  }

  // .ilw {
  //   & .panel {
  //     & iframe {
  //       width: 100%;
  //       height: 9.5rem;
  //     }
  //   }
  // }
}

@media (min-width: 576px) {
  .navbar-nav {
    & .nav-item {
      margin: 0.5rem 0;
    }
  }

  .jumbotron {
    & img {
      width: 75%;
    }
  }

  .container .list-group {
    & .list-group-item {
      & a {
        margin: 1rem 0;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .jumbotron {
    & img {
      width: 100%;
    }
  }
  .container .list-group {
    & .list-group-item {
      & a {
        font-size: 1.4rem;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .jumbotron {
    & .pageContent {
      & h1 {
        font-size: 1.8rem;
      }
    }
  }
  .navbar-nav {
    & .nav-item {
      margin: 0 2rem;
    }
  }

  // .ilw {
  //   & .panel {
  //     & iframe {
  //       width: 80%;
  //       height: 11rem;
  //     }
  //   }
  // }

  .jumbotron {
    & .pageContent {
      width: 65%;

      & p {
        font-size: 1.4rem;
      }
    }
  }

  .container .list-group.services,
  .container .list-group.articles {
    & .list-group-item {
      font-size: 1.6rem;
    }
  }

  .container .list-group.articles {
    & .list-group-item {
      & a {
        font-size: 1.6rem;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
